<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANGLADESH</title>
</head>
<body>
    <h1>Feni polytechnic institute</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt labore sapiente doloremque debitis aut incidunt, repellat impedit excepturi accusantium magnam ut autem dolorum fugit et facilis reprehenderit. Nobis alias magnam, et in, voluptas consequuntur, voluptatem consectetur officia at hic ut.</p>
</body>
</html>